include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include shoperprime *.css
recursive-include shoperprime *.csv
recursive-include shoperprime *.html
recursive-include shoperprime *.ico
recursive-include shoperprime *.js
recursive-include shoperprime *.json
recursive-include shoperprime *.md
recursive-include shoperprime *.png
recursive-include shoperprime *.py
recursive-include shoperprime *.svg
recursive-include shoperprime *.txt
recursive-exclude shoperprime *.pyc